@font-face {font-family: "Poppins Black"; src: url(font/Poppins-Black.ttf);}
@font-face {font-family: "Poppins"; src: url(font/Poppins-Regular.ttf);}
@font-face {font-family: "Poppins Bold Italic"; src: url(font/Poppins-BoldItalic.ttf);}
@font-face {font-family: "Poppins ExtraLight"; src: url(font/Poppins-ExtraLight.ttf);}

@keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear2{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes appear3{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.typed-cursor{
    /* display: none; */
    font-family: "Poppins ExtraLight";
}

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}
.navbar{
    background-color: black;
    font-family: "Poppins";
}

.navigation{
    margin-left: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
}

li{
    list-style: none;
    display: inline-block;
    margin-left: 2vw;
}

.nav{
    text-decoration: none;
    color: white;
    font-size: clamp(1.2vw, 1.2vw, 1.2vw);
    transition: 0.25s;
}

.nav:hover{
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    background-color: white;
    color: black;
    transform: scale(1.05);
    font-family: "Poppins Black";
}

/*HOME*/

.onboarding{
    /* background-color: rgb(43, 42, 42); */
    background-image: url("asset/background 1.png");
    height: 100vh;
    padding: 0rem 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
}

.textslogan{
    margin-left: 25px;
    width: 100%;
    font-size: clamp(1vw, 2vw, 2vw);
    font-family: "Poppins";
    color: white
}

.textnama{
    margin: 0;
    margin-bottom: 3vh;
    line-height: 0.95;
    width: 100%;
    font-size: clamp(15vw, 18vw, 18vw);
    font-family: "Poppins Black";
    color: white;
}

/*WORKS*/

.works{
    background-color: white;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.works-title{
    padding-top: 1.5rem;
    padding-left: 4rem;
    padding-bottom: -5rem;
    font-size: clamp(2vw, 3vw, 3vw);
    font-family: "Poppins Black";
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.works-content{
    margin-top: -3rem;
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.works-tab{
    width: 6vw;
    margin: 0;
    display: flex;
    padding: 0rem 4rem 1rem 4rem;
    gap: 1rem;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.tab-sidebarmenu{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
}

.tab{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: clamp(1vw, 1vw, 1vw);
    font-family: "Poppins";
    text-align: left;
    transition: 0.25s;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.tab-active{
    /* background: black; */
    /* color: white; */
    border: none;
    background: transparent;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: clamp(1vw, 1vw, 1vw);
    font-family: "Poppins Black";
    text-align: left;
}

.tab:hover{
    border-radius: 5px;
    background: black;
    color: white;
    transform: scale(1.05);
}

.content{
    display: none;
}

.content-active{
    padding: 0rem 4rem 1rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    animation: fadein 0.5s;
}

.popup{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4);
    backdrop-filter: blur(12px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s ease, visibility 0.35 ease;
}

.popup.active{
    opacity: 1;
    visibility: visible;
}

.popup-prop{
    position: relative;
    transform: scale(0.6) rotate(-2deg);
    transition: transform 0.35s ease;
}

.popup.active .popup-prop{
    transform: scale(1);
}

.popup-prop img{
    border: 0.2rem solid #fff;
    border-radius: 20px;
    max-width: 60vw;
    max-height: 80vh;
    object-fit: contain;
}

@media (max-width:768px){
    .popup img{
        width: 95%;
    }
}

.card{
    overflow: hidden;
    border-radius: 20px;
    aspect-ratio: 4/3;
    cursor:  pointer;
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.card:hover img{
    transform: scale(1.25);
}

/*ABOUT ME*/

.about{
    background-image: url("asset/background 1.png");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 5vw;
    /* padding: 8rem 6vw; */
    box-sizing: border-box;
    overflow: hidden;
}

.left-side{
    margin-top: 7rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
}

.photo{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 1/1;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text{
    flex: 1;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.about-title{
    margin-top: 6rem;
    font-size: clamp(3vw, 4vw, 4vw);
    color: white;
    font-family: "Poppins Black";
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.about-desc{
    margin-top: 1rem;
    color: white;
    font-size: clamp(1.2vw, 1.2vw, 1.2vw);
    font-family: "Poppins";
    overflow-wrap: break-word;
    text-align: left;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 2rem;
}

.create{
    color: white;
    font-family: "Poppins Bold Italic";
    font-size: clamp(1vw,2vw,2vw);
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

.insta,
.email{
    display: flex;
    align-items: center;
    gap: 12px;
}

.insta-logo,
.email-logo{
    width: 32px;
}

.insta-logo img,
.email-logo img{
    width: 100%;
}

.ig-handle,
.email-handle{
    color: white;
    text-decoration: none;
    font-size: clamp(1.5vw,1.5vw,1.5vw);
    font-family: "Poppins";
}